@font-face {
    font-family: 'catamaran';
    src: url('/fonts/Catamaran/variable/Catamaran-VariableFont_wght.ttf') format("truetype");
    font-weight: 100 900;
    font-display: swap;
}

:root {
    --border-yellow: rgba(255, 210, 0, 1);
    --background-color-blue: rgba(0, 82, 255, 1);
    --box-shadow-yellow: rgba(255, 160, 0, 1);
    --box-shadow-dark: rgba(0, 0, 0, 0.3);
    --scrollbar-color: rgba(255, 210, 0, 0.5) rgba(0, 0, 0, 0.1);
    --burgerMenuClose: rgba(255, 0, 0, 1);
}

html {
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-family: 'catamaran', Arial, Helvetica, sans-serif;
    white-space: normal;
    word-wrap: break-word;
    text-align: center;
    scrollbar-width: none;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    width: 100%;
    height: 100%;
    color: white;
    background-color: var(--background-color-blue);
    background-image: url('/images/background_picto.svg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: repeat;
    background-size: 150px;
    margin: 0px 0px 0px 0px;
    display: grid;
    grid-template-rows: calc(((calc(50px + 2vw) * 334) / 622) + 25px) 1fr 10px;
    column-gap: 25px;
}

header {
    grid-row: 1 / 2;
    z-index: 1;
}

a {
    text-decoration: none;
}

h1 {
    font-size: calc(1.5rem + 2vw);
}

h1, p, li, a {
    font-weight: 700;
    color: white;
}

h1 > span {
    font-weight: 100;
}

.mainBoxBorderWidth {
    border-width: 5px;
}

.boxBorderYellow {
    border-style: solid;
    border-color: var(--border-yellow);
}

.backRedStroke {
    background-color: var(--border-yellow);
    background-image: url('/images/stroke_red.svg');
    background-repeat: repeat;
    background-position: center;
    background-size: 150px;
}

nav > div:first-child {
    position: fixed;
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-width: 0px 0px 5px 0px;
    margin-bottom: 2px;
}

nav > div:first-child > a {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 0px 35px;
}

nav > div:first-child > a > img {
    width: calc(50px + 2vw);
    height: auto;
}

.responsiveMenu {
    display: flex;
}

nav > input {
    display: none;
}

.burgerMenu {
    position: fixed;
    right: 35px;
    top: calc((((calc(50px + 2vw) * 334) / 622) - 5px) / 2);
}

.burgerMenu > svg {
    width: 35px;
    height: auto;
    overflow: visible;
    background-color: rgba(255, 255, 255, 0.6);
    outline: solid 5px rgba(255, 255, 255, 0.6);
    border-radius: 1px;
}

nav > label > svg > g > g {
    fill: var(--background-color-blue);
    transition: transform 0.2s ease, fill 0.2s ease;
}

nav > input:checked ~ label > svg > g {
    transform: translate(-8px, -10px);
}

nav > input:checked ~ label > svg > g > g {
    fill: var(--burgerMenuClose);
}

nav > label > svg > g > g:first-child {
    transform: matrix(1,0,0,1,0.330699,-2.42697);
    transform-origin: 53px 17px;
}

nav > label > svg > g > g:nth-child(2) {
    transform: matrix(1,0,0,1,0.330699,15.0962);
}

nav > label > svg > g > g:last-child {
    transform: matrix(1,0,0,1,0.330699,32.6193);
    transform-origin: 29.5% 74%;
}

nav > input:checked ~ label > svg > g > g:first-child {
    transform: rotate(-45deg);
    transform-origin: 53px 17px;
}

nav > input:checked ~ label > svg > g > g:nth-child(2) {
    display: none;
}

nav > input:checked ~ label > svg > g > g:last-child {
    transform: rotate(45deg);
    transform-origin: 29.5% 74%;
}

nav > div:last-child {
    display: none;
}

nav > ul {
    display: none;
    position: absolute;
    top: calc(((calc(50px + 2vw) * 334) / 622) + 25px);
    left: -100%;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow-y: auto;
    overflow-x: hidden;
}

input:checked ~ ul {
    display: flex;
    flex-flow: row wrap;
    padding: 5px 0px 5px 0px;
    justify-content: center;
    align-content: start;
    position: fixed;
    left: 0%;
    width: 100vw;
    height: calc(100vh - calc(((calc(50px + 2vw) * 334) / 622) + 25px));
    background-color: rgba(0, 82, 255, 0.3);
    backdrop-filter:blur(10px);
}

input:checked ~ ul > a {
    flex: 1 1 20%;
    margin: 5px;
}

nav > ul > a {
    display: block;
}

nav > ul > a > li {
    background-color: var(--background-color-blue);
    padding: 10px 10px 10px 10px;
    border-style: solid;
    border-width: 5px 5px 5px 5px;
    border-color: var(--border-yellow);
    box-shadow: inset 0px 0px 0px 0px white;
    transition: box-shadow 0.2s ease;
}

input:checked ~ ul > a > li:hover {
    box-shadow: inset 0px 0px 0px 2px white;
}

input:checked ~ ul > a > li:active {
    box-shadow: inset 0px 0px 0px 4px white;
}

main {
    margin: 25px 25px 0px 25px;
    display: flex;
    flex-flow: row wrap;
    gap: 25px;
    grid-row: 2 / 3;
}

.homeTopElement {
    flex: 1 0 calc(100% - 10px);
    background-image: linear-gradient(rgba(0, 82, 255, 0.7), rgba(0, 82, 255, 0.7)), url('/images/deco.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.homeElements {
    flex: 1 1 35vh;
}

footer {
    grid-row: 3 / end;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    margin: 25px 0px 0px 0px;
}

footer > div:first-child {
    border-width: 5px 5px 0px 0px;
}

footer > div:nth-child(3) {
    border-width: 5px 0px 0px 5px;
}

footer > div:nth-child(2) > p {
    margin: 5px 10px 5px 10px;
}

footer > div:nth-child(2) > p > img {
    width: 18px;
    height: auto;
    padding: 0px 5px 0px 5px;
}

.justifyContentFlexbox {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.box {
    position: relative;
    top: -6px;
    right: -3px;
    padding: 15px 10px 10px 10px;
    box-shadow: -1px 1px var(--box-shadow-yellow),
                -1px 2px var(--box-shadow-yellow),
                -2px 3px var(--box-shadow-yellow),
                -2px 4px var(--box-shadow-yellow),
                -3px 5px var(--box-shadow-yellow),
                -3px 6px var(--box-shadow-yellow),
                -3px 6px 1px 6px var(--box-shadow-dark);
}

.box:hover {
    top: -4px;
    right: -2px;
    box-shadow: -1px 1px var(--box-shadow-yellow),
                -1px 2px var(--box-shadow-yellow),
                -2px 3px var(--box-shadow-yellow),
                -2px 4px var(--box-shadow-yellow),
                -2px 4px 1px 4px var(--box-shadow-dark);
}

.box:active {
    top: 0px;
    right: 0px;
    box-shadow: 0px 0px var(--box-shadow-yellow);
}

@media (min-width: 1280px) {
    body {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: 1fr 10px;
        column-gap: 25px;
    }

    header {
        position: inherit;
        grid-row: 1 / end;
    }

    nav {
        position: sticky;
        top: 0px;
        display: grid;
        grid-template-rows: auto auto 1fr;
        height: 100vh;
    }

    main {
        margin: 25px 25px 0px 0px;
        grid-row: 1 / 2;
    }

    nav > div:first-child {
        position: inherit;
        width: inherit;
        padding: 10px 10px 10px 10px;
        border-width: 0px 5px 5px 0px;
    }

    nav > div:first-child > a {
        width: 100%;
        height: 100%;
        padding: 0px 0px;
        margin: 0px;;
    }

    .burgerMenu {
        display: none;
    }

    nav > ul {
        position: inherit;
        display: block;
        padding: 0px;
    }

    nav > ul > a {
        margin: 0px 15px 2px 0px;
    }

    nav > ul > a > li {
        padding: 8px 10px 4px 5px;
        border-width: 5px 5px 5px 0px;
        width: calc(95% - 15px);
        transition: width 0.1s ease;
    }

    nav > ul > a > li:hover {
        width: calc(95% - 5px);
    }

    nav > ul > a > li:active {
        width: 95%;
    }

    nav > div:last-child {
        display: block;
        border-width: 5px 5px 0px 0px;
    }

    footer {
        grid-row: 2 / end;
        margin: 25px 25px 0px 0px;
    }

    footer > div:first-child {
        border-width: 5px 5px 0px 5px;
    }

    footer > div:nth-child(3) {
        border-width: 5px 5px 0px 5px;
    }

    .scrollbar {
        scrollbar-width: thin;
        scrollbar-color: var(--scrollbar-color);
    }
}

@media (pointer: coarse) {
    html {
        scrollbar-color: transparent transparent;
    }
}